﻿
<form asp-controller="Graph" asp-action="Upload" method="post" enctype="multipart/form-data">
    <input name="serializedGraphFile" type="file"/>
    <button type="submit" id="send-file">Отправить файл</button>
</form>
